<footer>
    <p>&copy; 2024 Manuel Rodriguez | Full Stack Web Developer .NET Core </p> 

    <div class="icon-container">  
        <a href="mailto:info@manuelrodriguez.dev">
            <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
        </a> 
        <a  href="tel:+393349980678">
            <fa-icon [icon]="['fas', 'phone']"></fa-icon>
        </a>   
        <a href="https://www.linkedin.com/in/manuel-alejandro-rodriguez-perez-976251156/" target="_blank"> 
            <fa-icon  [icon]="['fab', 'linkedin']"></fa-icon>
        </a>
        <a href="https://github.com/manuel920506" target="_blank">  
            <fa-icon  [icon]="['fab', 'github']"></fa-icon>
        </a>   
    </div>
</footer>
  
