main {
    padding: 20px;
    background-color: #0d0d0d;
    color: #00ccff ;
    font-family: 'Roboto', sans-serif;  
    display: flex;
    flex-direction: column; 
    height: 100%;
}

.main{
    flex: 1; 
    height: 10px;
    overflow-y: auto;
}
