$background-color: #0d0d0d; 
$h2color:  #00ccff;
$p2color:  #ffffff;
$a2color:  #ffffff;

html, body { 
    height: 100%;
    margin: 0;
    padding: 0; 
}  

.mat-typography{
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  height: 100%;  
  margin: 0;
  padding: 0;
} 

body{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: fit-content;  
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: $background-color;
    overflow-y: hidden;
}

app-root{
    height: 100%; 
}

main { 
    height: 100%; 
    overflow-y: auto;
}

h2 { 
    color: $h2color;
    margin-bottom: 20px;
    font-size: 2rem; 
} 

p {
    margin: 0px; 
    color: $p2color;
}

.hidden {
    display: none;
  }
  