<div class="container">
    <div  class="space">
        <h2>About Me</h2>
        <p>
            I'm a passionate full stack web developer focusing on creating clean, modern, and user-friendly websites...
        </p> 
    </div> 

    <div  class="space">
        <h2>Skills</h2>
        <p>{{ displaySkillList()}}</p>  
    </div> 

    <div  class="space">
        <h2>Experience</h2>
        @if (experienceList && experienceList.length > 0) {
            @for (job of experienceList; track $index) {
                <p class="title">{{ job.title }}, {{job.company}} - ({{ job.from }} - {{ job.to ?? 'Present' }})</p>
                @if (job && job.description) {
                    @for (description of job.description!.split('.'); track $index) {
                        <p>{{ description}}</p>
                    }  
                } 
            } 
        } @else {
            <p>No experiences</p>
        }
    </div> 

    <div  class="space">
        <h2>Education</h2>
        @for (education of educationList; track $index) {
            <p>{{education.description}} - {{education.data}}</p>
        }  
    </div> 
</div>
