@import '../../styles.scss';

.container{   
    p{ 
        display: flex;
        justify-content: center; 
        text-align: center;
        margin-bottom: 5px;
    }  
    .title{ 
        color: $h2color ;
    }
    h2{
        display: flex;
        justify-content: center;  
    }
    span{
        margin-top: 8%;
    }

    .space{
        margin-top: 2%;
    }

    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 300px) {
    .container {
      width: 95%;
      margin-bottom: 250px;
    }
}   

@media (min-width: 300px) and (max-width: 400px)  {
    .container {
      width: 95%;
      margin-bottom: 50%;
    }
}

@media (min-width: 400px) and (max-width: 600px)  {
  .container {
    width: 95%;
    margin-bottom: 40%;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  .container {
    width: 90%;
    margin-bottom: 30%;
  }
}

@media (min-width: 960px) and (max-width: 1280px) {
  .container {
    width: 85%;
    margin-bottom: 20%;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 80%;
    margin-bottom: 10%;
  }
}