.container{
    margin-left: 200px;
    margin-right: 200px;
    p{ 
        display: flex;
        justify-content: center; 
        text-align: center;
    }  
    .title{ 
        color: #00ccff ;
    }
    h2{
        display: flex;
        justify-content: center;  
    }
    span{
        margin-top: 10px;
    }

    .space{
        margin-top: 10px;
        margin-bottom: 60px;
    }
}