@import '../../styles.scss';

.container{  
    p{ 
        display: flex;
        justify-content: center; 
        text-align: center;
    }  
    .title{ 
        color: $h2color ;
    }
    h2{
        display: flex;
        justify-content: center;  
    }
    span{
        margin-top: 8%;
    }

    .space{
        margin-top: 2%;
        margin-bottom: 8%;
    }
}

.desktop-container {
    margin-left: auto;
    margin-right: auto;
    width: 85%; 
}

.mobile-container {
    margin-left: auto;
    margin-right: auto;
    width: 95%; 
}